@for $i from 1 through $global-iterations {
  .u-width-#{$i} {
    width: ms($i, rem);
  }
}

@each $percent in $percentages {
  .u-width-#{$percent} {
    width: $percent * 1%;
  }
}

.u-width-auto {
  width: auto;
}
