@for $i from 1 through $global-iterations {
  .u-height-rem-#{$i} {
    height: ms($i, rem);
  }
}

@each $percent in $percentages {
  .u-height-percent-#{$percent} {
    height: $percent * 1%;
  }
}

.u-height-auto {
  height: auto;
}
