@mixin u-clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}


.u-clearfix {
    @include u-clearfix();

    // Breakpoints
    @each $breakpoint in $breakpoints-primary {
        @include mappy-bp($breakpoint) {
            @include u-clearfix();
        }
    }
}
