@mixin u-hide-visually() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


.u-hide-visually {
    @include u-hide-visually();

    // Breakpoints
    @each $breakpoint in $breakpoints-primary {
        @include mappy-bp($breakpoint) {
            @include u-hide-visually();
        }
    }
}
