$colors: (
  current-color: currentColor,
  black:        #000000,
  blue-dark:    #1a6195,
  blue-light:   #2999ec,
  gray-dark:    #4a4a4a,
  gray-light:   #f6f6f6,
  orange-dark:  #ffa300,
  orange-light: #f09819,
  purple-dark:  #764ba2,
  purple-light: #667eea,
  red-light:    #ff5858,
  white:        #ffffff
);
