// Color names taken from Name that Color, then tweaked for brevity.
// http://chir.ag/projects/name-that-color/
$colors: (
  current-color: currentColor,
  carrot:        #f09819,
  cornflower:    #667eea,
  matisse:       #1a6195,
  persimmon:     #ff5858,
  picton:        #2999ec,
  royalty:       #764ba2,
  saffron:       #ffa300,
  tundora:       #4a4a4a,
  wild-sand:     #f6f6f6
);
