@for $i from 1 through $global-iterations {
    .u-margin-ms-#{$i} {
        margin: ms($i, rem);
    }

    @include generate-breakpoints(margin, margin-#{$i}, #{ms($i, rem)});
}

@each $percent in $percentages {
    @each $unit in $viewport-units {
        .u-margin-#{$unit}-#{$percent} {
            margin: $percent + $unit;
        }

        @include generate-breakpoints(margin, #{$unit}-#{$percent}, $percent + $unit);
    }
}

@for $i from 1 through $global-iterations {
    @each $direction in $directions {
        .u-margin-#{$direction}-ms-#{$i} {
            margin-#{$direction}: ms($i, rem);
        }

        @include generate-breakpoints(margin-#{$direction}, ms-#{$i}, ms($i, rem));
    }
}

@each $percent in $percentages {
    @each $direction in $directions {
        @each $unit in $viewport-units {
            .u-margin-#{$direction}-#{$unit}-#{$percent} {
                margin-#{$direction}: $percent + $unit;
            }

            @include generate-breakpoints(margin-#{$direction}, $unit + -#{$percent}, $percent + $unit);
        }
    }
}

@each $direction in $directions {
    .u-margin-#{$direction}-none {
        margin-#{$direction}: 0;
    }

    @include generate-breakpoints(margin-#{$direction}, none, 0);
}

.u-margin-none {
    margin: 0;
}
