@for $i from 1 through $global-iterations {
    .u-padding-ms-#{$i} {
        padding: ms($i, rem);
    }

    @include generate-breakpoints(padding, padding-#{$i}, #{ms($i, rem)});
}

@for $i from 1 through $global-iterations {
    @each $direction in $directions {
        .padding-#{$direction}-ms-#{$i} {
            padding: ms($i, rem);
        }

        @include generate-breakpoints(padding-#{$direction}, ms-#{$i}, ms($i, rem));
    }
}

@each $direction in $directions {
    .padding-#{$direction}-none {
        padding-#{$direction}: 0;
    }

    @include generate-breakpoints(padding-#{$direction}, none, 0);
}

.padding-none {
    padding: 0;
}
