@for $i from 1 through $global-iterations {
    .u-min-width-ms-#{$i} {
        min-width: ms($i, rem);
    }

    @include generate-breakpoints(min-width, ms-#{$i}, #{ms($i, rem)});
}

@each $percent in $percentages {
    @each $unit in $viewport-units {
        .u-min-width-#{$unit}-#{$percent} {
            min-width: $percent + $unit;
        }

        @include generate-breakpoints(min-width, #{$unit}-#{$percent}, $percent + $unit);
    }
}

@each $percent in $percentages {
    .u-min-width-percent-#{$percent} {
        min-width: $percent * 1%;
    }

    @include generate-breakpoints(min-width, percent-#{$percent}, $percent * 1%);
}

.u-min-width-auto {
    min-width: auto;
}
