@for $i from 1 through $global-iterations {
    .u-min-width-ms-#{$i} {
        min-width: ms($i, rem);
    }
}

@each $percent in $percentages {
    .u-min-width-percent-#{$percent} {
        min-width: $percent * 1%;
    }
}

.u-min-width-auto {
    min-width: auto;
}
