$line-height: (
  tightest: 0.75,
  tighter:  1,
  tight:    1.2,
  slight:   1.3,
  loose:    1.5,
  looser:   1.75,
  loosest:  2
);


@each $distance, $value in $line-height {
    .u-line-height-#{$distance} {
        line-height: $value;
    }

    @include generate-breakpoints(line-height, $distance, $value);
}
