@charset "UTF-8";
// Loads and manages Sass partials. Order is important!


// Global configuration. These properties affect how utility classes are
// generated. Don't edit them unless you know what you're doing.
$global-font-size: 20px;
$global-iterations: 10;
$global-line-height: 1.5;
$global-type-ratio: 1.618;


// Meta supplies logic needed to build and maintain classes.
@import
  "_meta/variables.errors",
  "_meta/variables.paths",

  "_meta/lists.breakpoints",
  "_meta/lists.directions",
  "_meta/lists.percentages",
  "_meta/lists.units",
  "_meta/lists.viewport-units",

  "_meta/mixins.generate-breakpoints",

  "_meta/functions.ems",
  "_meta/functions.modular-scale",
  "_meta/functions.rems",
  "_meta/functions.strip-units",

  "_meta/maps.colors",
  "_meta/maps.radii"
;


// Vendor libraries.
@import
  // http://lukyvj.github.io/family.scss/
  "../node_modules/family.scss/source/src/family",
  // https://github.com/zellwk/mappy-breakpoints
  "../node_modules/mappy-breakpoints/mappy-breakpoints",
  // https://necolas.github.io/normalize.css/
  "../node_modules/normalize.css/normalize.css"
;


// Utilities are immuatable, low-specificity, single-purpose classes.
@import
  "utilities/background.background-origin",
  "utilities/background.background-position",
  "utilities/background.background-repeat",
  "utilities/background.background-size",

  "utilities/borders.border-radius",
  "utilities/borders.border-style",
  "utilities/borders.border",

  "utilities/color.background-color",
  "utilities/color.border-color",
  "utilities/color.color",
  "utilities/color.fill",

  "utilities/layout.align-content",
  "utilities/layout.align-items",
  "utilities/layout.align-self",
  "utilities/layout.display",
  "utilities/layout.flex-direction",
  "utilities/layout.flex-grow",
  "utilities/layout.flex-shrink",
  "utilities/layout.flex-wrap",
  "utilities/layout.float",
  "utilities/layout.height",
  "utilities/layout.justify-content",
  "utilities/layout.margin",
  "utilities/layout.max-height",
  "utilities/layout.max-width",
  "utilities/layout.min-height",
  "utilities/layout.min-width",
  "utilities/layout.order",
  "utilities/layout.padding",
  "utilities/layout.position",
  "utilities/layout.trbl",
  "utilities/layout.width",

  "utilities/type.font-family",
  "utilities/type.font-size",
  "utilities/type.font-style",
  "utilities/type.font-weight",
  "utilities/type.letter-spacing",
  "utilities/type.line-height",
  "utilities/type.list-style-type",
  "utilities/type.measure",
  "utilities/type.text-align",
  "utilities/type.text-decoration",
  "utilities/type.text-transform",
  "utilities/type.vertical-align"
;


// Helpers can be used to manipulate behavior.
@import
  "helpers/clearfix",
  "helpers/cursors",
  "helpers/disable-opentype",
  "helpers/hide-visually",
  "helpers/opacity",
  "helpers/reset-all-styles",
  "helpers/text-break",
  "helpers/text-truncate"
;


// Elements provide common styling for HTML elements
@import
    "elements/html",
    "elements/body",
    "elements/a",
    "elements/abbr",
    "elements/all",
    "elements/audio",
    "elements/b-strong",
    "elements/button",
    "elements/canvas",
    "elements/code",
    "elements/del",
    "elements/figure",
    "elements/hr",
    "elements/i-em",
    "elements/icons",
    "elements/iframe",
    "elements/img",
    "elements/input",
    "elements/ins",
    "elements/kbd",
    "elements/object",
    "elements/picture",
    "elements/pre",
    "elements/quotes",
    "elements/samp",
    "elements/select",
    "elements/table",
    "elements/textarea",
    "elements/var",
    "elements/video"
;
