@charset "UTF-8";
// Loads and manages Sass partials. Order is important!




$global-font-size: 20px;
$global-line-height: 1.5;
$global-type-ratio: 1.618;
$global-iterations: 10;


// Meta supplies logic needed to build and maintain classes.
@import
    "meta/variables.errors",
    "meta/variables.paths",
    "meta/variables.percentages",
    "meta/variables.units",

    "meta/functions.ems",
    "meta/functions.modular-scale",
    "meta/functions.rems",
    "meta/functions.strip-units",

    "meta/maps.colors",
    "meta/maps.radii"
;


// Utilities are immuatable, low-specificity, single-purpose classes.
@import
    "utilities/layout.display",
    "utilities/layout.float",
    "utilities/layout.max-height",
    "utilities/layout.min-height",
    "utilities/layout.height",
    "utilities/layout.max-width",
    "utilities/layout.min-width",
    "utilities/layout.position",
    "utilities/layout.width",

    "utilities/background.background-origin",
    "utilities/background.background-position",
    "utilities/background.background-repeat",
    "utilities/background.background-size",

    "utilities/borders.border-radius",

    "utilities/color.background-color",
    "utilities/color.color",

    "utilities/type.font-family",
    "utilities/type.font-size",
    "utilities/type.font-style",
    "utilities/type.font-weight",
    "utilities/type.letter-spacing",
    "utilities/type.line-height",
    "utilities/type.measure",
    "utilities/type.text-align",
    "utilities/type.text-decoration",
    "utilities/type.text-transform",
    "utilities/type.vertical-align"
;










// Primary
// Secondary
// Tertiary
// Quaternary

// Tightest
// Tighter
// Tight
// Slight
// Loose
// Looser
// Loosest

// Thickest
// Thicker
// Thick
// Thin
// Thinner
// Thinnest

// Shortest
// Shorter
// Short
// Medium
// Long
// Longer
// Longest
